<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>


<body>    
    <div class="h-[80vh] flex justify-center items-center relative">
        <div class="max-w-md w-full mx-auto bg-white p-8 rounded-lg ">
            {% if invalid %}
            <div class="text-center border-2 border-red-500 rounded-lg p-2 mb-[40px]">
                <p class="text-red-500 text-center">Invalid Username or Password</p>
            </div>
            {% endif %}
            
            <div class="text-center">
                <h1 class="text-3xl font-extrabold text-[#3457D5]" style="font-family: 'Poppins', sans-serif;">DashMate</h1>
                <p class="text-sm text-[#3457D5] mt-2">Regain your access to the supercharged community</p>
            </div>
            <form class="mt-8" method="post">
                <div class="mb-4">
                    <label class="block text-[#3457D5] text-sm font-bold mb-2" for="register-number">Register Number</label>
                    <input
                        class="shadow  bg-[#EBEBEB] appearance-none border rounded-[10px] w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="register-number" name="username" type="text" placeholder="Enter your register number" required>
                </div>
                <div class="mb-4">
                    <label class="block text-[#3457D5] text-sm font-bold mb-2" for="password">Password</label>
                    <input
                        class=" bg-[#EBEBEB] shadow appearance-none border rounded-[10px] w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="password" name="password" type="password" placeholder="Enter your password" required>
                </div>
                <div class="text-center">
                    <button
                        class="bg-[#FCDC4D] hover:opacity-90  text-[#3457D5] font-bold py-2 px-12 rounded-full focus:outline-none focus:shadow-outline"
                        type="submit">Submit</button>
                </div>
            </form>
            <div class="flex flex-cols justify-center items-center">
                <div class="bottom-10 px-5  absolute grid grid-cols text-[#3457D5]">  <div class="text-xl text-gray-600">Not part of the clan?</div>
                <div><a class="underline underline-offset-4 flex flex-cols justify-center items-center text-[#3457D5]" href="{{ url_for('register') }}">Register</a></div>
            </div>
            </div>
        </div>
    </div>
</body>

</html>